<head>
	<link type="text/css" rel="stylesheet" href="custom.css"/>
</head>
<body>
	<div class="touch">
		<h1>Get in touch with me!</h1>
	</div>
	<div class="contact">
		<center>
		<a href="http://www.linkedin.com/profile/view?id=145176377"><i class="fa fa-linkedin fa-lg fa-fw"></i></a>
		<a href="http://www.twitter.com/daynesohn"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
		<a href="http://www.facebook.com/daynesohn"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
		<a href="http://www.github.com/daynesohn"><i class="fa fa-github fa-lg fa-fw"></i></a>
		<a href="http://www.instagram.com/daynesohn"><i class="fa fa-instagram fa-lg fa-fw"></i></a>
		</center>
	</div>
</body>